# 通用
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# 前端
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage
/frontend/build
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# 后端
/backend/target/
/backend/.mvn/
/backend/mvnw
/backend/mvnw.cmd
/backend/.settings/
/backend/.classpath
/backend/.project
/backend/*.iml
/backend/.idea/
/backend/milvus/volumes/

# Config files
docs/env-vars-config.md

# 本地开发工具 - Nginx
nginx-1.24.0/
nginx.zip

# 微信支付证书文件
*.pem
*.p12
*.pfx
backend/src/main/resources/cert/apiclient_*
